<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
  <channel><title>Github trendings {{language}} repos</title>
    <link>https://github.com/trending/{{language}}</link>
    <description>This unofficial RSS feed for GitHub trending repos.</description>
    {{#each repos}}
    <item><title>{{name}}</title>
      <link>{{url}}</link>
      <description>{{description}}</description>
    </item>
    {{/each}}
  </channel>
</rss>